$primary-color: #e91e63;
$secondary-color: #f50057;
$text-primary: #f0f8ff;
$text-secondary: #949494;
$text-placeholder: #ffffffb3;
$background-color: #111;
$success-color: #cce8cd;
$background-secondary: linear-gradient(
  rgba(255, 255, 255, 0.05),
  rgba(255, 255, 255, 0.05)
);
